*,
*::before,
*::after {
    box-sizing: inherit;
}


html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.meta-clicker {
    font-size: 30px;
    display: grid;
    place-items: center;
    margin-top: 20%;
}

.meta-timer {
    font-size: 30px;
}